:root {
  --font-family-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --font-family-sans--font-feature-settings: normal;
  --font-family-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-family-mono--font-feature-settings: normal;

  --font-size-small: 13px;
  --font-size-base: 14px;
  --font-size-large: 16px;
  --font-size-x-large: 20px;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --line-height-normal: 130%;
  --line-height-large: 150%;
  --line-height-x-large: 180%;
  --line-height-2x-large: 200%;
  --letter-spacing-normal: 0;
  --letter-spacing-tight: -0.1599999964237213;
  --letter-spacing-tightest: -0.3199999928474426;
  --paragraph-spacing-base: 0;

  --spacing: 0.25rem;

  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;

  --container-3xs: 16rem;
  --container-2xs: 18rem;
  --container-xs: 20rem;
  --container-sm: 24rem;
  --container-md: 28rem;
  --container-lg: 32rem;
  --container-xl: 36rem;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --container-6xl: 72rem;
  --container-7xl: 80rem;

  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.625rem;

  --shadow-xs:
    0 1px 2px -0.5px light-dark(hsl(0 0% 0% / 0.04), hsl(0 0% 0% / 0.06)),
    0 0.5px 1.5px 0 light-dark(hsl(0 0% 0% / 0.025), hsl(0 0% 0% / 0.08)),
    0 1px 3px 0 light-dark(hsl(0 0% 0% / 0.05), hsl(0 0% 0% / 0.1));
  --shadow-md:
    0 6px 12px -2px light-dark(hsl(0 0% 0% / 0.075), hsl(0 0% 0% / 0.1)),
    0 4px 8px -2px light-dark(hsl(0 0% 0% / 0.075), hsl(0 0% 0% / 0.15)),
    0 1px 2px light-dark(hsl(0 0% 0% / 0.1), hsl(0 0% 0% / 0.15));
  --shadow-lg:
    0 16px 48px -6px light-dark(hsl(0 0% 0% / 0.05), hsl(0 0% 0% / 0.15)),
    0 6px 12px -2px light-dark(hsl(0 0% 0% / 0.025), hsl(0 0% 0% / 0.1)),
    0 1px 2.5px light-dark(hsl(0 0% 0% / 0.025), hsl(0 0% 0% / 0.1));
  --shadow-xxs-border: 0 0 0 0.5px var(--border-weak-base, rgba(0, 0, 0, 0.07));
  --shadow-xs-border:
    0 0 0 1px var(--border-base, rgba(11, 6, 0, 0.2)), 0 1px 2px -1px rgba(19, 16, 16, 0.04),
    0 1px 2px 0 rgba(19, 16, 16, 0.06), 0 1px 3px 0 rgba(19, 16, 16, 0.08);
  --shadow-xs-border-base:
    0 0 0 1px var(--border-weak-base, rgba(17, 0, 0, 0.12)), 0 1px 2px -1px rgba(19, 16, 16, 0.04),
    0 1px 2px 0 rgba(19, 16, 16, 0.06), 0 1px 3px 0 rgba(19, 16, 16, 0.08);
  --shadow-xs-border-select:
    0 0 0 3px var(--border-weak-selected, rgba(1, 103, 255, 0.29)),
    0 0 0 1px var(--border-selected, rgba(0, 74, 255, 0.99)), 0 1px 2px -1px rgba(19, 16, 16, 0.25),
    0 1px 2px 0 rgba(19, 16, 16, 0.08), 0 1px 3px 0 rgba(19, 16, 16, 0.12);
  --shadow-xs-border-focus:
    0 0 0 1px var(--border-base, rgba(11, 6, 0, 0.2)), 0 1px 2px -1px rgba(19, 16, 16, 0.25),
    0 1px 2px 0 rgba(19, 16, 16, 0.08), 0 1px 3px 0 rgba(19, 16, 16, 0.12), 0 0 0 2px var(--background-weak, #f1f0f0),
    0 0 0 3px var(--border-selected, rgba(0, 74, 255, 0.99));
  --shadow-xs-border-hover:
    0 0 0 1px var(--border-weak-selected, rgba(0, 112, 255, 0.22)), 0 1px 2px -1px rgba(19, 16, 16, 0.04),
    0 1px 2px 0 rgba(19, 16, 16, 0.06), 0 1px 3px 0 rgba(19, 16, 16, 0.08);
  --shadow-xs-border-critical-base: 0 0 0 1px var(--border-critical-selected, #fc543a);
  --shadow-xs-border-critical-focus:
    0 0 0 3px var(--border-critical-weak, rgba(251, 34, 0, 0.18)), 0 0 0 1px var(--border-critical-selected, #fc543a),
    0 1px 2px -1px rgba(19, 16, 16, 0.25), 0 1px 2px 0 rgba(19, 16, 16, 0.08), 0 1px 3px 0 rgba(19, 16, 16, 0.12);
  --shadow-lg-border-base:
    0 0 0 1px var(--border-weak-base, rgba(0, 0, 0, 0.07)), 0 36px 80px 0 rgba(0, 0, 0, 0.03),
    0 13.141px 29.201px 0 rgba(0, 0, 0, 0.04), 0 6.38px 14.177px 0 rgba(0, 0, 0, 0.05),
    0 3.127px 6.95px 0 rgba(0, 0, 0, 0.06), 0 1.237px 2.748px 0 rgba(0, 0, 0, 0.09);

  color-scheme: light;
  --text-mix-blend-mode: multiply;

  /* OC-2 fallback variables (light) */
  --background-base: #f8f8f8;
  --background-weak: #f3f3f3;
  --background-strong: #fcfcfc;
  --background-stronger: #fcfcfc;
  --surface-base: rgba(0, 0, 0, 0.031);
  --base: rgba(0, 0, 0, 0.034);
  --surface-base-hover: rgba(0, 0, 0, 0.059);
  --surface-base-active: rgba(0, 0, 0, 0.051);
  --surface-base-interactive-active: rgba(3, 76, 255, 0.09);
  --base2: rgba(0, 0, 0, 0.034);
  --base3: rgba(0, 0, 0, 0.034);
  --surface-inset-base: rgba(0, 0, 0, 0.034);
  --surface-inset-base-hover: rgba(0, 0, 0, 0.055);
  --surface-inset-strong: rgba(0, 0, 0, 0.09);
  --surface-inset-strong-hover: rgba(0, 0, 0, 0.09);
  --surface-raised-base: rgba(0, 0, 0, 0.031);
  --surface-float-base: #161616;
  --surface-float-base-hover: #1c1c1c;
  --surface-raised-base-hover: rgba(0, 0, 0, 0.051);
  --surface-raised-base-active: rgba(0, 0, 0, 0.09);
  --surface-raised-strong: #fcfcfc;
  --surface-raised-strong-hover: #ffffff;
  --surface-raised-stronger: #ffffff;
  --surface-raised-stronger-hover: #ffffff;
  --surface-weak: rgba(0, 0, 0, 0.051);
  --surface-weaker: rgba(0, 0, 0, 0.071);
  --surface-strong: #ffffff;
  --surface-stronger-non-alpha: var(--surface-raised-stronger-non-alpha);
  --surface-raised-stronger-non-alpha: #ffffff;
  --surface-brand-base: #dcde8d;
  --surface-brand-hover: #d0d283;
  --surface-interactive-base: #ecf3ff;
  --surface-interactive-hover: #e0eaff;
  --surface-interactive-weak: #f7faff;
  --surface-interactive-weak-hover: #ecf3ff;
  --surface-success-base: #dbfed7;
  --surface-success-weak: #f0feee;
  --surface-success-strong: #12c905;
  --surface-warning-base: #fcf3cb;
  --surface-warning-weak: #fdfaec;
  --surface-warning-strong: #fbdd46;
  --surface-critical-base: #fff2f0;
  --surface-critical-weak: #fff8f6;
  --surface-critical-strong: #fc533a;
  --surface-info-base: #fdecfe;
  --surface-info-weak: #fef7ff;
  --surface-info-strong: #a753ae;
  --surface-diff-unchanged-base: #ffffff00;
  --surface-diff-skip-base: #f8f8f8;
  --surface-diff-hidden-base: #eaf4ff;
  --surface-diff-hidden-weak: #f6faff;
  --surface-diff-hidden-weaker: #fbfdff;
  --surface-diff-hidden-strong: #cae3ff;
  --surface-diff-hidden-stronger: #2090f5;
  --surface-diff-add-base: #e3fae1;
  --surface-diff-add-weak: #f4fcf3;
  --surface-diff-add-weaker: #fbfefb;
  --surface-diff-add-strong: #c2eebf;
  --surface-diff-add-stronger: #9ff29a;
  --surface-diff-delete-base: #feefeb;
  --surface-diff-delete-weak: #fff8f6;
  --surface-diff-delete-weaker: #fffcfb;
  --surface-diff-delete-strong: #fdc3b7;
  --surface-diff-delete-stronger: #fc533a;
  --input-base: #fcfcfc;
  --input-hover: #f8f8f8;
  --input-active: #fcfdff;
  --input-selected: #e0eaff;
  --input-focus: #fcfdff;
  --input-disabled: #ededed;
  --text-base: #6f6f6f;
  --text-weak: #8f8f8f;
  --text-weaker: #c7c7c7;
  --text-strong: #171717;
  --text-invert-base: #f8f8f8;
  --text-invert-weak: #f3f3f3;
  --text-invert-weaker: #ededed;
  --text-invert-strong: #fcfcfc;
  --text-interactive-base: #034cff;
  --text-on-brand-base: rgba(0, 0, 0, 0.574);
  --text-on-interactive-base: #fcfcfc;
  --text-on-interactive-weak: rgba(0, 0, 0, 0.574);
  --text-on-success-base: #2dba26;
  --text-on-critical-base: #ed4831;
  --text-on-critical-weak: #fe806a;
  --text-on-critical-strong: #601a0f;
  --text-on-warning-base: rgba(0, 0, 0, 0.574);
  --text-on-info-base: rgba(0, 0, 0, 0.574);
  --text-diff-add-base: #3a8437;
  --text-diff-delete-base: #ed4831;
  --text-diff-delete-strong: #601a0f;
  --text-diff-add-strong: #1d3e1c;
  --text-on-info-weak: rgba(0, 0, 0, 0.453);
  --text-on-info-strong: rgba(0, 0, 0, 0.915);
  --text-on-warning-weak: rgba(0, 0, 0, 0.453);
  --text-on-warning-strong: rgba(0, 0, 0, 0.915);
  --text-on-success-weak: #96ec8e;
  --text-on-success-strong: #044202;
  --text-on-brand-weak: rgba(0, 0, 0, 0.453);
  --text-on-brand-weaker: rgba(0, 0, 0, 0.232);
  --text-on-brand-strong: rgba(0, 0, 0, 0.915);
  --button-primary-base: #171717;
  --button-secondary-base: #fcfcfc;
  --button-secondary-hover: #f8f8f8;
  --button-ghost-hover: rgba(0, 0, 0, 0.031);
  --button-ghost-hover2: rgba(0, 0, 0, 0.051);
  --border-base: rgba(0, 0, 0, 0.162);
  --border-hover: rgba(0, 0, 0, 0.236);
  --border-active: rgba(0, 0, 0, 0.46);
  --border-selected: rgba(3, 76, 255, 0.99);
  --border-disabled: rgba(0, 0, 0, 0.236);
  --border-focus: rgba(0, 0, 0, 0.46);
  --border-weak-base: #e5e5e5;
  --border-strong-base: rgba(0, 0, 0, 0.151);
  --border-strong-hover: rgba(0, 0, 0, 0.232);
  --border-strong-active: rgba(0, 0, 0, 0.151);
  --border-strong-selected: rgba(3, 76, 255, 0.31);
  --border-strong-disabled: rgba(0, 0, 0, 0.118);
  --border-strong-focus: rgba(0, 0, 0, 0.151);
  --border-weak-hover: rgba(0, 0, 0, 0.118);
  --border-weak-active: rgba(0, 0, 0, 0.151);
  --border-weak-selected: rgba(3, 76, 255, 0.24);
  --border-weak-disabled: rgba(0, 0, 0, 0.118);
  --border-weak-focus: rgba(0, 0, 0, 0.151);
  --border-weaker-base: #f0f0f0;
  --border-weaker-hover: rgba(0, 0, 0, 0.075);
  --border-weaker-active: rgba(0, 0, 0, 0.118);
  --border-weaker-selected: rgba(3, 76, 255, 0.16);
  --border-weaker-disabled: rgba(0, 0, 0, 0.034);
  --border-weaker-focus: rgba(0, 0, 0, 0.118);
  --border-interactive-base: #a3c1fd;
  --border-interactive-hover: #7ea9ff;
  --border-interactive-active: #034cff;
  --border-interactive-selected: #034cff;
  --border-interactive-disabled: #c7c7c7;
  --border-interactive-focus: #034cff;
  --border-success-base: #96ec8e;
  --border-success-hover: #7add71;
  --border-success-selected: #12c905;
  --border-warning-base: #e8d479;
  --border-warning-hover: #d8c158;
  --border-warning-selected: #fbdd46;
  --border-critical-base: #fdc3b7;
  --border-critical-hover: #ffa796;
  --border-critical-selected: #fc533a;
  --border-info-base: #f4bdf8;
  --border-info-hover: #e6a8ea;
  --border-info-selected: #a753ae;
  --border-color: #ffffff;
  --icon-base: #8f8f8f;
  --icon-hover: #6f6f6f;
  --icon-active: #171717;
  --icon-selected: #171717;
  --icon-disabled: #c7c7c7;
  --icon-focus: #171717;
  --icon-invert-base: #ffffff;
  --icon-weak-base: #dbdbdb;
  --icon-weak-hover: #c7c7c7;
  --icon-weak-active: #8f8f8f;
  --icon-weak-selected: #858585;
  --icon-weak-disabled: #e2e2e2;
  --icon-weak-focus: #8f8f8f;
  --icon-strong-base: #171717;
  --icon-strong-hover: #151313;
  --icon-strong-active: #020202;
  --icon-strong-selected: #020202;
  --icon-strong-disabled: #c7c7c7;
  --icon-strong-focus: #020202;
  --icon-brand-base: #171717;
  --icon-interactive-base: #034cff;
  --icon-success-base: #7add71;
  --icon-success-hover: #4cc944;
  --icon-success-active: #078901;
  --icon-warning-base: #ebb76e;
  --icon-warning-hover: #da9e40;
  --icon-warning-active: #95671b;
  --icon-critical-base: #ed4831;
  --icon-critical-hover: #ca2d17;
  --icon-critical-active: #601a0f;
  --icon-info-base: #e6a8ea;
  --icon-info-hover: #d58cda;
  --icon-info-active: #9b4da1;
  --icon-on-brand-base: rgba(0, 0, 0, 0.574);
  --icon-on-brand-hover: rgba(0, 0, 0, 0.915);
  --icon-on-brand-selected: rgba(0, 0, 0, 0.915);
  --icon-on-interactive-base: #fcfcfc;
  --icon-agent-plan-base: #a753ae;
  --icon-agent-docs-base: #fcb239;
  --icon-agent-ask-base: #2090f5;
  --icon-agent-build-base: #034cff;
  --icon-on-success-base: rgba(18, 201, 5, 0.9);
  --icon-on-success-hover: rgba(45, 186, 38, 0.9);
  --icon-on-success-selected: rgba(7, 137, 1, 0.9);
  --icon-on-warning-base: rgba(252, 178, 57, 0.9);
  --icon-on-warning-hover: rgba(239, 167, 46, 0.9);
  --icon-on-warning-selected: rgba(149, 103, 27, 0.9);
  --icon-on-critical-base: rgba(252, 83, 58, 0.9);
  --icon-on-critical-hover: rgba(237, 72, 49, 0.9);
  --icon-on-critical-selected: rgba(202, 45, 23, 0.9);
  --icon-on-info-base: #a753ae;
  --icon-on-info-hover: rgba(155, 73, 162, 0.9);
  --icon-on-info-selected: rgba(155, 77, 161, 0.9);
  --icon-diff-add-base: #3a8437;
  --icon-diff-add-hover: #1d3e1c;
  --icon-diff-add-active: #1d3e1c;
  --icon-diff-delete-base: #ed4831;
  --icon-diff-delete-hover: #ca2d17;
  --icon-diff-modified-base: #ff8c00;
  --syntax-comment: var(--text-weak);
  --syntax-regexp: var(--text-base);
  --syntax-string: #006656;
  --syntax-keyword: var(--text-weak);
  --syntax-primitive: #fb4804;
  --syntax-operator: var(--text-base);
  --syntax-variable: var(--text-strong);
  --syntax-property: #ed6dc8;
  --syntax-type: #596600;
  --syntax-constant: #007b80;
  --syntax-punctuation: var(--text-base);
  --syntax-object: var(--text-strong);
  --syntax-success: #2dba26;
  --syntax-warning: #efa72e;
  --syntax-critical: #ed4831;
  --syntax-info: #0092a8;
  --syntax-diff-add: #3a8437;
  --syntax-diff-delete: #ca2d17;
  --syntax-diff-unknown: #ff0000;
  --markdown-heading: #d68c27;
  --markdown-text: #1a1a1a;
  --markdown-link: #3b7dd8;
  --markdown-link-text: #318795;
  --markdown-code: #3d9a57;
  --markdown-block-quote: #b0851f;
  --markdown-emph: #b0851f;
  --markdown-strong: #d68c27;
  --markdown-horizontal-rule: #8a8a8a;
  --markdown-list-item: #3b7dd8;
  --markdown-list-enumeration: #318795;
  --markdown-image: #3b7dd8;
  --markdown-image-text: #318795;
  --markdown-code-block: #1a1a1a;
  --avatar-background-pink: #feeef8;
  --avatar-background-mint: #e1fbf4;
  --avatar-background-orange: #fff1e7;
  --avatar-background-purple: #f9f1fe;
  --avatar-background-cyan: #e7f9fb;
  --avatar-background-lime: #eefadc;
  --avatar-text-pink: #cd1d8d;
  --avatar-text-mint: #147d6f;
  --avatar-text-orange: #ed5f00;
  --avatar-text-purple: #8445bc;
  --avatar-text-cyan: #0894b3;
  --avatar-text-lime: #5d770d;
  --text-stronger: #171717;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
    --text-mix-blend-mode: plus-lighter;

    /* OC-2 fallback variables (dark) */
    --background-base: #101010;
    --background-weak: #1e1e1e;
    --background-strong: #121212;
    --background-stronger: #151515;
    --surface-base: rgba(255, 255, 255, 0.031);
    --base: rgba(255, 255, 255, 0.034);
    --surface-base-hover: rgba(255, 255, 255, 0.039);
    --surface-base-active: rgba(255, 255, 255, 0.059);
    --surface-base-interactive-active: rgba(3, 76, 255, 0.125);
    --base2: rgba(255, 255, 255, 0.034);
    --base3: rgba(255, 255, 255, 0.034);
    --surface-inset-base: rgba(0, 0, 0, 0.5);
    --surface-inset-base-hover: rgba(0, 0, 0, 0.5);
    --surface-inset-strong: rgba(0, 0, 0, 0.8);
    --surface-inset-strong-hover: rgba(0, 0, 0, 0.8);
    --surface-raised-base: rgba(255, 255, 255, 0.059);
    --surface-float-base: #161616;
    --surface-float-base-hover: #1c1c1c;
    --surface-raised-base-hover: rgba(255, 255, 255, 0.078);
    --surface-raised-base-active: rgba(255, 255, 255, 0.102);
    --surface-raised-strong: rgba(255, 255, 255, 0.078);
    --surface-raised-strong-hover: rgba(255, 255, 255, 0.129);
    --surface-raised-stronger: rgba(255, 255, 255, 0.129);
    --surface-raised-stronger-hover: rgba(255, 255, 255, 0.169);
    --surface-weak: rgba(255, 255, 255, 0.078);
    --surface-weaker: rgba(255, 255, 255, 0.102);
    --surface-strong: rgba(255, 255, 255, 0.169);
    --surface-stronger-non-alpha: var(--surface-raised-stronger-non-alpha);
    --surface-raised-stronger-non-alpha: #1c1c1c;
    --surface-brand-base: #fab283;
    --surface-brand-hover: #eda779;
    --surface-interactive-base: #091f52;
    --surface-interactive-hover: #091f52;
    --surface-interactive-weak: #0b1730;
    --surface-interactive-weak-hover: #ecf3ff;
    --surface-success-base: #062d04;
    --surface-success-weak: #0a1e08;
    --surface-success-strong: #12c905;
    --surface-warning-base: #fdf3cf;
    --surface-warning-weak: #fdfaed;
    --surface-warning-strong: #fcd53a;
    --surface-critical-base: #1f0603;
    --surface-critical-weak: #28110c;
    --surface-critical-strong: #fc533a;
    --surface-info-base: #feecfe;
    --surface-info-weak: #fdf7fe;
    --surface-info-strong: #edb2f1;
    --surface-diff-unchanged-base: #161616;
    --surface-diff-skip-base: #00000000;
    --surface-diff-hidden-base: #0c1928;
    --surface-diff-hidden-weak: #09131d;
    --surface-diff-hidden-weaker: #082542;
    --surface-diff-hidden-strong: #073966;
    --surface-diff-hidden-stronger: #8ec2fc;
    --surface-diff-add-base: #1a2919;
    --surface-diff-add-weak: #1f351e;
    --surface-diff-add-weaker: #1a2919;
    --surface-diff-add-strong: #264024;
    --surface-diff-add-stronger: #9bcd97;
    --surface-diff-delete-base: #42120b;
    --surface-diff-delete-weak: #580f06;
    --surface-diff-delete-weaker: #42120b;
    --surface-diff-delete-strong: #6a1206;
    --surface-diff-delete-stronger: #faa494;
    --input-base: #1c1c1c;
    --input-hover: #1c1c1c;
    --input-active: #091123;
    --input-selected: #0b1730;
    --input-focus: #091123;
    --input-disabled: #282828;
    --text-base: rgba(255, 255, 255, 0.618);
    --text-weak: rgba(255, 255, 255, 0.422);
    --text-weaker: rgba(255, 255, 255, 0.284);
    --text-strong: rgba(255, 255, 255, 0.936);
    --text-invert-base: #a0a0a0;
    --text-invert-weak: #707070;
    --text-invert-weaker: #505050;
    --text-invert-strong: #ededed;
    --text-interactive-base: #9dbefe;
    --text-on-brand-base: rgba(255, 255, 255, 0.603);
    --text-on-interactive-base: #ededed;
    --text-on-interactive-weak: rgba(255, 255, 255, 0.603);
    --text-on-success-base: #12c905;
    --text-on-critical-base: #fc533a;
    --text-on-critical-weak: #b72d1a;
    --text-on-critical-strong: #ffe0da;
    --text-on-warning-base: rgba(255, 255, 255, 0.603);
    --text-on-info-base: rgba(255, 255, 255, 0.603);
    --text-diff-add-base: #9bcd97;
    --text-diff-delete-base: #fc533a;
    --text-diff-delete-strong: #ffe0da;
    --text-diff-add-strong: #4a7348;
    --text-on-info-weak: rgba(255, 255, 255, 0.404);
    --text-on-info-strong: rgba(255, 255, 255, 0.928);
    --text-on-warning-weak: rgba(255, 255, 255, 0.404);
    --text-on-warning-strong: rgba(255, 255, 255, 0.928);
    --text-on-success-weak: #127d0d;
    --text-on-success-strong: #bafdb3;
    --text-on-brand-weak: rgba(255, 255, 255, 0.404);
    --text-on-brand-weaker: rgba(255, 255, 255, 0.266);
    --text-on-brand-strong: rgba(255, 255, 255, 0.928);
    --button-primary-base: #ededed;
    --button-secondary-base: #1c1c1c;
    --button-secondary-hover: rgba(255, 255, 255, 0.039);
    --button-ghost-hover: rgba(255, 255, 255, 0.031);
    --button-ghost-hover2: rgba(255, 255, 255, 0.059);
    --border-base: rgba(255, 255, 255, 0.195);
    --border-hover: rgba(255, 255, 255, 0.284);
    --border-active: rgba(255, 255, 255, 0.418);
    --border-selected: #9dbefe;
    --border-disabled: rgba(255, 255, 255, 0.284);
    --border-focus: rgba(255, 255, 255, 0.418);
    --border-weak-base: #282828;
    --border-strong-base: rgba(255, 255, 255, 0.266);
    --border-strong-hover: rgba(255, 255, 255, 0.266);
    --border-strong-active: rgba(255, 255, 255, 0.266);
    --border-strong-selected: rgba(3, 76, 255, 0.62);
    --border-strong-disabled: rgba(255, 255, 255, 0.138);
    --border-strong-focus: rgba(255, 255, 255, 0.266);
    --border-weak-hover: rgba(255, 255, 255, 0.181);
    --border-weak-active: rgba(255, 255, 255, 0.266);
    --border-weak-selected: rgba(3, 76, 255, 0.62);
    --border-weak-disabled: rgba(255, 255, 255, 0.138);
    --border-weak-focus: rgba(255, 255, 255, 0.266);
    --border-weaker-base: #202020;
    --border-weaker-hover: rgba(255, 255, 255, 0.084);
    --border-weaker-active: rgba(255, 255, 255, 0.138);
    --border-weaker-selected: rgba(3, 76, 255, 0.32);
    --border-weaker-disabled: rgba(255, 255, 255, 0.034);
    --border-weaker-focus: rgba(255, 255, 255, 0.138);
    --border-interactive-base: #a3c1fd;
    --border-interactive-hover: #7ea9ff;
    --border-interactive-active: #034cff;
    --border-interactive-selected: #034cff;
    --border-interactive-disabled: #505050;
    --border-interactive-focus: #034cff;
    --border-success-base: #96ec8e;
    --border-success-hover: #7add71;
    --border-success-selected: #12c905;
    --border-warning-base: #e9d282;
    --border-warning-hover: #dac063;
    --border-warning-selected: #fcd53a;
    --border-critical-base: #6a1206;
    --border-critical-hover: #952414;
    --border-critical-selected: #fc533a;
    --border-info-base: #eac5ec;
    --border-info-hover: #dab1dd;
    --border-info-selected: #edb2f1;
    --border-color: #ffffff;
    --icon-base: #7e7e7e;
    --icon-hover: #a0a0a0;
    --icon-active: #ededed;
    --icon-selected: #ededed;
    --icon-disabled: #3e3e3e;
    --icon-focus: #ededed;
    --icon-invert-base: #161616;
    --icon-weak-base: #343434;
    --icon-weak-hover: #d9d9d9;
    --icon-weak-active: #c8c8c8;
    --icon-weak-selected: #707070;
    --icon-weak-disabled: #ededed;
    --icon-weak-focus: #707070;
    --icon-strong-base: #ededed;
    --icon-strong-hover: #f6f3f3;
    --icon-strong-active: #fcfcfc;
    --icon-strong-selected: #fdfcfc;
    --icon-strong-disabled: #3e3e3e;
    --icon-strong-focus: #fdfcfc;
    --icon-brand-base: #ffffff;
    --icon-interactive-base: #034cff;
    --icon-success-base: #12c905;
    --icon-success-hover: #35c02d;
    --icon-success-active: #4de144;
    --icon-warning-base: #fbb73c;
    --icon-warning-hover: #885e08;
    --icon-warning-active: #f1b13f;
    --icon-critical-base: #fc533a;
    --icon-critical-hover: #faa494;
    --icon-critical-active: #ffe0da;
    --icon-info-base: #68446b;
    --icon-info-hover: #815484;
    --icon-info-active: #dfa7e3;
    --icon-on-brand-base: rgba(255, 255, 255, 0.603);
    --icon-on-brand-hover: rgba(255, 255, 255, 0.928);
    --icon-on-brand-selected: rgba(255, 255, 255, 0.928);
    --icon-on-interactive-base: #ededed;
    --icon-agent-plan-base: #edb2f1;
    --icon-agent-docs-base: #fbb73c;
    --icon-agent-ask-base: #2090f5;
    --icon-agent-build-base: #9dbefe;
    --icon-on-success-base: rgba(18, 201, 5, 0.9);
    --icon-on-success-hover: rgba(53, 192, 45, 0.9);
    --icon-on-success-selected: rgba(77, 225, 68, 0.9);
    --icon-on-warning-base: rgba(251, 183, 60, 0.9);
    --icon-on-warning-hover: rgba(245, 178, 56, 0.9);
    --icon-on-warning-selected: rgba(241, 177, 63, 0.9);
    --icon-on-critical-base: rgba(252, 83, 58, 0.9);
    --icon-on-critical-hover: rgba(245, 79, 54, 0.9);
    --icon-on-critical-selected: rgba(250, 164, 148, 0.9);
    --icon-on-info-base: #edb2f1;
    --icon-on-info-hover: rgba(231, 173, 235, 0.9);
    --icon-on-info-selected: rgba(223, 167, 227, 0.9);
    --icon-diff-add-base: #9bcd97;
    --icon-diff-add-hover: #c3f9bf;
    --icon-diff-add-active: #9bcd97;
    --icon-diff-delete-base: #fc533a;
    --icon-diff-delete-hover: #f54f36;
    --icon-diff-modified-base: #ffba92;
    --syntax-comment: var(--text-weak);
    --syntax-regexp: var(--text-base);
    --syntax-string: #00ceb9;
    --syntax-keyword: var(--text-weak);
    --syntax-primitive: #ffba92;
    --syntax-operator: var(--text-weak);
    --syntax-variable: var(--text-strong);
    --syntax-property: #ff9ae2;
    --syntax-type: #ecf58c;
    --syntax-constant: #93e9f6;
    --syntax-punctuation: var(--text-weak);
    --syntax-object: var(--text-strong);
    --syntax-success: #35c02d;
    --syntax-warning: #f5b238;
    --syntax-critical: #f54f36;
    --syntax-info: #93e9f6;
    --syntax-diff-add: #9bcd97;
    --syntax-diff-delete: #faa494;
    --syntax-diff-unknown: #ff0000;
    --markdown-heading: #9d7cd8;
    --markdown-text: #eeeeee;
    --markdown-link: #fab283;
    --markdown-link-text: #56b6c2;
    --markdown-code: #7fd88f;
    --markdown-block-quote: #e5c07b;
    --markdown-emph: #e5c07b;
    --markdown-strong: #f5a742;
    --markdown-horizontal-rule: #808080;
    --markdown-list-item: #fab283;
    --markdown-list-enumeration: #56b6c2;
    --markdown-image: #fab283;
    --markdown-image-text: #56b6c2;
    --markdown-code-block: #eeeeee;
    --avatar-background-pink: #501b3f;
    --avatar-background-mint: #033a34;
    --avatar-background-orange: #5f2a06;
    --avatar-background-purple: #432155;
    --avatar-background-cyan: #0f3058;
    --avatar-background-lime: #2b3711;
    --avatar-text-pink: #e34ba9;
    --avatar-text-mint: #95f3d9;
    --avatar-text-orange: #ff802b;
    --avatar-text-purple: #9d5bd2;
    --avatar-text-cyan: #369eff;
    --avatar-text-lime: #c4f042;
    --text-stronger: rgba(255, 255, 255, 0.936);
  }
}
